<!DOCTYPE html>
<html lang="en">
<head>

       <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Insert title here</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>

        &lt;!&ndash; 引入jquery &ndash;&gt;


        &lt;!&ndash; 引入bootstrap的css &ndash;&gt;
        <link  th:href="@{../js/bootstrap3/css/bootstrap.min.css} " rel="stylesheet" >
        &lt;!&ndash; 引入bootstrap-treeview的css &ndash;&gt;
        <link  th:href="@{../js/bootstrap-treeview/bootstrap-treeview.min.css} " rel="stylesheet" >
        &lt;!&ndash; 引入bootstrap-addTabs的css &ndash;&gt;
        <link   th:href="@{../js/bootStrap-addTabs/bootstrap.addtabs.css}" rel="stylesheet" >
        &lt;!&ndash; 引入bootstrap-table的css &ndash;&gt;
        <link   th:href="@{../js/bootstrap-table/bootstrap-table.min.css} " rel="stylesheet" >
        &lt;!&ndash; 引入fileinput的css &ndash;&gt;
        <link type="text/css" rel="stylesheet"  th:href="@{../js/fileinput/css/fileinput.css} " />





        &lt;!&ndash; 引入bootstrap的js&ndash;&gt;
        <script type="text/javascript" th:src="@{../js/bootstrap3/js/bootstrap.min.js} "></script>
        &lt;!&ndash; 引入bootstrap的js&ndash;&gt;
        <script type="text/javascript" th:src="@{../js/bootstrap-treeview/bootstrap-treeview.min.js} "></script>
        &lt;!&ndash; 引入bootstrap的js&ndash;&gt;
        <script type="text/javascript" th:src="@{../js/bootStrap-addTabs/bootstrap.addtabs.min.js} "></script>
        &lt;!&ndash; 引入bootstrap-table的js&ndash;&gt;
        <script type="text/javascript" th:src="@{../js/bootstrap-table/bootstrap-table.min.js} "></script>
        <script type="text/javascript" th:src="@{../js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
        &lt;!&ndash; 引入bootbox.js &ndash;&gt;
        <script type="text/javascript" th:src="@{../js/bootstrap-bootbox/bootbox.js} "></script>
        &lt;!&ndash; 引入fileinput的js &ndash;&gt;
        <script type="text/javascript" th:src="@{../js/fileinput/js/fileinput.min.js} "></script>
        &lt;!&ndash;  引入fileinput的js &ndash;&gt;
        <script type="text/javascript" th:src="@{../js/fileinput/js/locales/zh.js}"></script>


        <script type="text/javascript" th:src="@{../js/fileinput/themes/fa/theme.js} "></script>
        <style type="text/css">
            body {padding-top:100px;}
            .load{
                position: absolute;
                left: 30%;
                top: 28px;
                transform: translateX(-50%) translateY(-50%);
            }
            .load a{
                text-decoration: none;
                color: #ff33cc;
                margin: 0 150px;
            }
        </style>
        -->
    </head>
<body>
<div id="toolbar">
    <form class="form-inline">
        <div class="form-group">
            <div class="col-md-6">
                <button type="button" onclick="addDisBootbox()" class="btn btn-warning glyphicon glyphicon-plus">发布论点</button>
            </div>
        </div>
    </form>
</div>
<table id="datatable" class="table table-hover"></table>
<script type="text/javascript">
    $(function(){
        initTable();
    })
    function initTable(){
        $("#datatable").bootstrapTable({
            toolbar:'#toolbar',
            url: "../selectInfomationBean",
            /* pagination:true, //是否展示分页
            pageList:[5, 10, 20, 50],//分页组件
            pageNumber:1,
            pageSize:5,//默认每页条数  */
            showColumns:false,//是否显示 内容列下拉框
            showToggle:false,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch:false,//是否显示 数据条数选择框
            showRefresh:false,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            /* sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
            queryParams:function(){
                return {
                    page:this.pageNumber,
                    rows:this.pageSize,
                    bookName: $("#bookName").val(),
                    bookType: $("#bookType").val(),
                    minprice: $("#minprice").val(),
                    maxprice: $("#maxprice").val()
                };
            }, */
            columns:[[
                {field:'discussId', title: '序号'},
                {field:'discussTitle', title: '机构名称'},
                {field:'discussStuat', title: '机构状态',formatter:function(value){
                        return value==1?"企业":"学校";
                    }},
                {field:'cz', title: '操作',formatter:function(value,row,index){
                        /*var name = row.discussStuat==1?"关闭论点":"开启论点";
                        return "<a href = 'javascript:discussId("+row.discussId+");'>查看</a>|||||<a href = javascript:editDiscussStatus("+row.discussId+","+row.discussStuat+")>"+name+"</a>";*/
                    }}
            ]]
        })
    }

    /*function addDisBootbox(){
        bootbox.dialog({
            title: "添加论点",
            message: createAddContent("toAddDis.do"),
            closeButton: true,
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function(){
                        $.ajax({
                            url: "saveDiscuss.do",
                            type: "post",
                            data: $("#formId").serialize(),
                            dataType: "json",
                            success:function(data){
                                initTable();
                            }
                        })
                    }
                },
                "cancel": {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {
                    }
                }
            }
        })
    }
    function search(){
        $("#datatable").bootstrapTable("refresh");
    }
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }

    $('.date').datetimepicker({
        language: 'zh-CN',//显示中文
        //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
        format: 'yyyy-mm-dd',//显示格式
        minView: "month",//设置只显示到月份
        initialDate: new Date(),//初始化当前日期
        autoclose: true,//选中自动关闭
        todayBtn: true//显示今日按钮
    });

    function editDiscussStatus(discussId,discussStuat){
        if(discussStuat==1){
            discussStuat=2;
        }else{
            discussStuat=1;
        }
        $.ajax({
            url:"updateStatus.do",
            type:"post",
            data:{discussId:discussId,discussStuat:discussStuat},
            dataType:"json",
            success:function(data){
                $("#datatable").bootstrapTable("refresh");
            }
        })
    }*/
</script>
</body>
</html>